<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to 'Create a new post', new_post_path, class: "pure-button" %>
    </li>
    <li class="nav-item">
      <%= link_to 'All posts', posts_path, class: "pure-button" %>
    </li>
  </ul>
</nav>

<div class="content pure-u-1-2 pure-u-md-1-2">
  <%= form_tag search_posts_path, method: 'get', class: "pure-form" do %>
    <%= text_field_tag :q, params[:q], placeholder: 'Type text to search',
      class: "pure-input-rounded" %>
    <%= submit_tag 'Search', name: nil, class: "pure-button" %>
  <% end %>

  <p id="notice"><%= notice %></p>
  <div class="posts">
    <% @posts.each do |post| %>
      <section class="post">
        <header class="post-header">
          <h1><%= link_to post.title, post %></h1>
        </header>
        <div class="post-description">
          <p><%= post.body %></p>
        </div>
      </section>
    <% end %>
  </div>
</div>
