<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to 'Edit', edit_post_path(@post), class: 'pure-button' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pure-button' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Back', posts_path, class: 'pure-button' %>
    </li>
  </ul>
</nav>

<div class="content pure-u-1-2 pure-u-md-1-2">
  <p id="notice"><%= notice %></p>
  <div class="posts">
    <section class="post">
      <header class="post-header">
        <h1><%= @post.title %></h1>
      </header>
      <div class="post-description">
        <p><%= @post.body %></p>
      </div>
    </section>
  </div>
</div>
